// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.table-text a,
.table-text-warn a {
    font-weight: bold;
    padding: 6px 20px;
}
.table-text a {
    color: white;
}
.table-text-warn a {
    color: darkslategray;
}